<div class="columns twelve">
  <app-form-select [list]="(model.data() | async) ?? []" (id)="change($event)"></app-form-select>
</div>
<div *ngIf="((model.chartOptions() | async) ?? chartOptions).show"
     class="columns twelve"
     [ngStyle]="{width: '100%', height:'300px', 'max-width': '400px', 'max-height': '300px'}">
  <app-chart-dynamic [chartOptions]="(model.chartOptions() | async) ?? chartOptions"></app-chart-dynamic>
</div>

<div class="columns twelve">
  <app-map-here [points]="(model.points() | async) ?? []"></app-map-here>
</div>

